pyqdrant
qdrant-client
numpy
torch
transformers
sentence-transformers
pyaudio
sounddevice
requests
aiohttp
reactivestreams
rsocket
Pillow
mnn-py
websockets
pyautogui
python-socketio
python-osc
sseclient
Flask
python-socketio
pygame